  * {
    font-family: 'Oxygen Mono';
  }
  body {
    margin: 0;
    background-color: #023047;
    color: #ffb703;
    font-size: 14px;
  }

  h1 {
    color: #fb8500;
  }

  ul {
   list-style: none;
   padding: 0;
  }

  li {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li.title {
    margin-top: 2rem;
  }

  li.summary {
    margin-top: 2rem;
  }

  header {
    display: flex;
    align-items: center;
    margin-left: 3rem;
  }

  #root {
    margin: 0 3rem;
  }

  pre.overflow {
    margin: 0 2rem;
    white-space: normal;
    color: grey;
  }

  li.overflow {
    cursor: pointer;
  }

  a.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    border: solid 1px transparent;

    width: 32px;
    height: 32px;

    margin-right: 1rem;

    transition: all .2s;
  }

  a.icon:hover {
    background-color: silver;
    transform: scale(1.04);
  }