  * {
    font-family: 'Oxygen Mono';
  }
  body {
    margin: 0;
    background-color: #023047;
    color: #ffb703;
    font-size: 14px;
  }

  h1 {
    color: #fb8500;
  }

  header {
    display: flex;
    align-items: center;
  }

  #root {
    margin: 0 3rem;
  }

  a.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    border: solid 1px transparent;

    width: 32px;
    height: 32px;

    margin-right: 1rem;

    transition: all .2s;
  }

  a.icon:hover {
    background-color: silver;
    transform: scale(1.04);
  }