name: Page
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'
      - run: mvn package
      - id: run-report
        run: |
          echo "result<<EOF" >> $GITHUB_OUTPUT
          echo "$(java -jar ./target/AdventOfCode-1.0-shaded.jar)" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - run: echo "${{ steps.run-report.outputs.result }}" > ./docs/report.txt
      - run: |
          git config --global user.name 'Joe Garnett'
          git config --global user.email 'josephgarnett@users.noreply.github.com'
          git add .
          git commit -m "update output report"
          git push origin main

